@model IEnumerable<MySpace.Models.Artist>

@{
    ViewBag.Title = "Liste des artistes";
}

<h4>Les artistes!</h4>

<div>

    @foreach (var artiste in Model)
    {
        <div class="row">

        </div>
    }

</div>