@{
    ViewBag.Title = "À propos";
}

<h2>À propos de MySpace</h2>
<p>Site promotionnel d'artistes musicaux</p>

<h3>Nom des équipiers</h3>

<pre>
Nom     :   Tristan Lépine
Email   :   tristanlepine14@@gmail.com

Nom     :   -
Email   :   -
</pre>
